body {
	color: black;
	font-family: tahoma;
	font-size: 16px;
}

.title {
	margin: 8px;
	padding: 0px;
	text-align: center;
	font-size: 20px;
}

.tile {
	display: block; margin: 0px; padding: 0px; width: 25px; height: 25px; position: absolute; z-index: 1; border: 1px solid black;
}

#board { border: 0px solid black; /*width: 285px; height: 285px;*/ }

#controlPad {
	padding: 10px;
}

.button {
	width: 45px;
	height: 45px;
	cursor: pointer;
	border: 1px solid black;
}

.red {
	background-color: #F00; 
	background-image: url("https://wiki.chakralinux.org/images/9/91/Tools-report-bug.png");
	background-size: cover;
}

.blue {
	background-color: #00F;
}

.aqua { 
	background-color: #3CF; 
}

.green { 
	background-color: #0F0; 
}

.violette { 
	background-color: #93F; 
}

.yellow { 
	background-color: #FC3; 
}

.brown { 
	background-color: #963; 
}

.silver { 
	background-color: #DFDFDF; 
}

.pink { 
	background-color: #F6C; 
}
